/*
 * Page Panel v1.0 css styles
 *
 * */

/*Panel container*/

.ppanel-container{
    width: 100%;
    max-width: 800px;
    margin: 10px auto;
}

.ppanel-container > ul{
    list-style:none;
    padding: 0;
    margin: 0;
}

.ppanel-container > ul > li{
    width: 100%;
    max-width:400px;
    margin: 0 auto 15px;
    display: inline-block; 
}


.ppanel-container .ppanel-tile-image{
    width:100%;
    border: 2px black solid;
}

.ppanel-container .ppanel-tile-image > span{
    height: 100%;
    display: inline-block;
    vertical-align: middle;
}

.ppanel-container .ppanel-tile-image > img{
    width:97%;
    margin: 0 auto;
    display: inline-block;
    vertical-align:middle;
    cursor:pointer;
}

@media screen and (max-width:726px){

    .ppanel-container > ul{
        column-count:1;
        -moz-column-count: 1;
        -webkit-column-count: 1;
    }
}

@media screen and (min-width:727px){

    .ppanel-container > ul{
        column-gap: 40px;
        -moz-column-gap: 40px;
        -webkit-column-gap: 40px;
    }
    
    .ppanel-container > ul.ppanel-1-col{
        column-count:1;
        -moz-column-count: 1;
        -webkit-column-count: 1;
    }

    .ppanel-container > ul.ppanel-2-col{
        column-count:2;
        -moz-column-count: 2;
        -webkit-column-count: 2;
    }

    .ppanel-container > ul.ppanel-3-col{
        column-count:3;
        -moz-column-count: 3;
        -webkit-column-count: 3;

    }

    .ppanel-container > ul.ppanel-4-col{
        column-count:4;
        -moz-column-count: 4;
        -webkit-column-count: 4;
    }

    .ppanel-container > ul.ppanel-5-col{
        column-count:5;
        -moz-column-count: 5;
        -webkit-column-count: 5;
    }

    .ppanel-container > ul.ppanel-6-col{
        column-count:6;
        -moz-column-count: 6;
        -webkit-column-count: 6;
    }
}
